/* Typographic Grids */

.t10 {
  line-height: 10px;
  font-size: 8px;
  background-image: url('img/10px-baseline.png');
}
.t12 {
  line-height: 12px;
  font-size: 8px;
  background-image: url('img/12px-baseline.png');
}
.t14 {
  line-height: 14px;
  font-size: 10px;
  background-image: url('img/14px-baseline.png');
}
.t16 {
  line-height: 16px;
  font-size: 12px;
  background-image: url('img/16px-baseline.png');
}
.t18 {
  line-height: 18px;
  font-size: 12px;
  background-image: url('img/18px-baseline.png');
}
.t20 {
  line-height: 20px;
  font-size: 14px;
  background: url('img/20px-baseline.png');
}
.t22 {
  line-height: 22px;
  font-size: 14px;
  background-image: url('img/22px-baseline.png');
}
.t24 {
  line-height: 24px;
  font-size: 16px;
  background-image: url('img/24px-baseline.png');
}

/* Column Grids */

/*Baseline/Mobile Grid*/

.g978 #page {
  width: 300px; /*Total width works out to 312px*/
  padding: 0px 6px 0px 6px;
  background: url('img/300px-6-27-6-8c.png');
}

@media screen and (min-width: 760px) {
	  .g978 #page { 
		width: 748px; /*Total width works out to 768px*/
		padding: 0px 10px 0px 10px;
		background: url('img/748px-10-44-10-12c.png');
		}

		nav ul{
			border: 1px solid red;
			position: relative;
			}
			
		ul#navigation li {
			font-size: 16px;      
			width: 84px;
			margin-right: 84px;
			float: left;
			border: 0px solid white;
			margin-bottom: 0px;
			}

		ul#navigation li a:link, ul#navigation li a:visited{
			color: #000;
			}
			
/*Supporting CSS, change to HTML5 from supporting to aside*/
		aside ul li a:link, aside ul li a:visited {
			color: #FFF;
			text-decoration: none;
			padding: 0px;
			}
		
		aside ul li {
			line-height: 40px;
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 0 0 0 10px;
			background-color: #FF0000;
			}

/* sidebar css change to aside */
		aside {
			float: right; /*side bar will be on the right side*/
			width: 22.6993865% /*222px/978px */
			}

		#content {
			width: 77.3006135%; /* 756px/978px */
			margin-top: 20px;
			float: left;
			}

		.intro {
			width: 59.5238095%; /*450px/756*/
			}

/*portfolio page*/

		.image{
			width: 40.4761905%; /*306px/756px*/
			float: left;
		}
	
		.caption {
			width: 44.4444444%; /*336px/756px*/
			float: left;
			margin-left: 11.1111111%; /*84/756*/
		}

/*resume page*/
		ul.resume li.locdate {
			float: right;
			}
  
}

@media screen and (min-width: 1010px) {
  /* See http://978.gs/ */
	  .g978 #page {
		width: 978px; /*Total with works out to 1008*/
		padding: 0px 15px 0px 15px;
		background: url('img/978px-15-54-15-12c.png');
		margin: 0px auto;
		}
}

@media screen and (min-width: 1250px) {
		  .g978 #page {
			width: 1218px; /*Total width works out to 1248px*/
			padding: 0px 15px 0px 15px;
			background: url('img/1218px-15-48-15-16c.png');
		  }
}

@media screen and (min-width: 1410px) {
		  .g978 #page {
			width: 1378px; /*Total width works out to 1408px*/
			padding: 0px 15px 0px 15px;
			background: url('img/1378px-15-58-15-16c.png');
		  }
}

/* Example-specific Styles */
a {
  text-decoration: none; /*Lose underlining on links to make grid easier to see*/
}